.services {
  padding: 60px 20px;
  /* background: white; */
}
.service-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.service-card {
  background: #565252;
  padding: 20px;
  border-radius: 8px;
  width: 250px;
}
